.container {
    display: grid;
    grid-template-columns: 20% 78%;
    gap: 2%;
    margin-top: 18px;
    background-color: #fdfdfd;
}

main {
    padding-top: 70px !important;
}

@media screen and (max-width: 992px) {
    .container {
        grid-template-columns: auto;
    }
}
